<!DOCTYPE html>
<html>

<head>
  <title>404</title>
  <link rel="stylesheet" href="./CSS/styles.css" />
  <link rel="icon" href="./images/weather.png">
</head>

<body>
  <div class="main-content"> 
    {{>header}}
    <p>{{error}}</p>
  </div>

  {{>footer}}
</body>

</html>