<!DOCTYPE html>
<html>

<head>
  <title>Weather</title>
  <link rel="stylesheet" href="./CSS/styles.css" />
  <link rel="icon" href="./images/weather.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to get you weather!</p>

    <form >
      <input type="text" placeholder="Enter your location">
      <button>Search</button>
    </form>

    <p id="m1"></p>
    <p id="m2"></p>

  </div>
  {{>footer}}

  <script src="../../public/JS/app.js"></script>
</body>

</html>